@import './variables.scss';

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('./../assets/fonts/NotoSansKR.woff2') format('woff2'),
    url('./../assets/fonts/NotoSansKR.woff') format('woff'),
    url('./../assets/fonts/NotoSansKR.eot') format('embedded-opentype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR';
}

input:focus {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: black;
}

button {
  @include button();
}
