@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  color: $color-black;

}

input:focus {
  outline: none;
}

a {
  color: $color-black;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: $color-black;
}
