@import './variables.scss';

main {
  h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 100px;
    font-weight: 900;
  }

  .image-wrap {
    text-align: center;

    img {
      margin: 0 auto;
    }
  }

  .contents-wrap {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    text-align: center;

    .content {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: $font-medium;
        font-weight: 700;
      }

      span {
        font-size: $font-regular;
        padding: 1px 0 20px;
      }
    }
  }
}
