@import './variables.scss';

#search-view-wrapper{
  min-height:100vh;
  background-color: $color-violet;
  text-align: center;

  form{
    margin: 0 auto;
    width: 600px;
    padding: 40px;
    display: flex;
    align-items: center;
    font-size: $font-xl-regular;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 10px 15px;
    line-height: 1.5;
    font-size: $font-xl-regular;

    &::placeholder{
      color: black;
      font-size: $font-xl-regular;
    }
  }

  button{
    font-size: $font-xl-regular;
    background-color: black;
    color: $color-violet;
  }

  button[type='reset']{
    position: relative;
    right: 30px;
    border: none;
    width: 30px;
    height: 30px;
    font-size: $font-regular;
    border-radius: 50%;

  }

  button[type='submit']{
    position: relative;
    right: 20px;
    width: 130px;
    padding: 15px 0;
    border: none;
  }
}