$color-black: #313030;
$color-orange: #fbb04c;
$color-violet: #8490C8;
$color-pink: #FF8671;
$color-gray: #D5D5D5;
$color-dark-gray: #595552;
$color-pure-black : #8490C8;


$font-small: 15px;
$font-regular: 18px;
$font-xl-regular: 25px;
$font-medium: 35px;
$font-large: 48px;
$font-xlarge: 56px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
