$color-black: #313030;
$color-orange: #fbb04c;

$font-small: 15px;
$font-regular: 18px;
$font-medium: 35px;
$font-large: 48px;
$font-xlarge: 56px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin button {
  width: 200px;
  padding: 20px 40px;
  background-color: transparent;
  color: $color-black;
  border: 2px solid $color-black;
  border-radius: 50%;
  font-size: $font-small;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $color-black;
    color: $color-orange;
  }
}
